h1 {outline-style: dotted;outline-color: blue}
p{
	font-family: "Lucida consolen" , Lucida, Monospace; font-style: oblique;
}
h1{
	text-shadow: 3px 1px black;
}
img{
	border-radius: 150px
}
body {px;color: white;border-style: solid;}